$active-color: #518ff5;
$active-color-hover: #376ad7;
$grey-color: #909090;
$light-color: #fff;
$danger-color: red;
$disable-color: #ccc;

@mixin input-style(){
    height: 20px;
    padding: 0px 10px;
}

@mixin button-style(){
    padding: 5px 20px;
    background: $active-color;
    border: none;
    border-radius: 3px;
    color: $light-color;
    cursor: pointer;

    &:hover{
        background: $active-color-hover;
    }
}